MyBookstoreApplication/Schema/documents.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="documents">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="document">
          <xsd:complexType>
            <xsd:all>
              <xsd:element name="documentId" type="xsd:string" />
			  <xsd:element name="shareId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="name" type="xsd:string" />
              <xsd:element name="createdDate" type="xsd:dateTime" minOccurs="0" />
              <xsd:element name="uploadedDate" type="xsd:dateTime" minOccurs="0" />
              <xsd:element name="queuedDate" type="xsd:dateTime" minOccurs="0" />
			  <xsd:element name="convertedDate" type="xsd:dateTime" minOccurs="0" />
			  <xsd:element name="deletedDate" type="xsd:dateTime" minOccurs="0" />
              <xsd:element name="originalSize" type="xsd:int" minOccurs="0" />
              <xsd:element name="originalState" type="xsd:string" minOccurs="0" />
              <xsd:element name="pdfState" type="xsd:string" minOccurs="0" />
			  <xsd:element name="pdfSize" type="xsd:int" minOccurs="0" />
              <xsd:element name="xodState" type="xsd:string" minOccurs="0" />
			  <xsd:element name="xodSize" type="xsd:int" minOccurs="0" />
              <xsd:element name="thumbnailState" type="xsd:string" minOccurs="0" />
			  <xsd:element name="thumbnailSize" type="xsd:int" minOccurs="0" />
              <xsd:element name="demo" type="xsd:boolean" minOccurs="0" />
            </xsd:all>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>